@media (max-width: 1000px) {
  .wrapper-header {
    max-width: 1000px;
    overflow: hidden;
    height: 584px;
    background: url("../img/Giant-Panda2.jpg") no-repeat;
  }
  .header-content {
    font-size: 85px;
    line-height: 64px;
    height: 367px;
    width: 367px;
    margin-left: 500px;
    margin-top: 20px;
  }
  .header-content h1 {
    text-align: center;
    padding: 75px 0 0 100px;
  }
  .header-content button {
    margin-left: 100px;
  }
  .menu {
    flex-basis: 50%;
    justify-content: space-between;
  }
  .backstage {
    padding-top: 60px;
    background: none;
    padding-bottom: 0px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  .backstage .img {
    margin-left: 0px;
  }
  .backstage .text {
    margin-right: 0px;
  }
  .pets-wrapper {
    max-width: 1000px;
    padding-bottom: 180px;
    background: url("../icon/palm_foto2.png") 0 100% no-repeat, url("../icon/strelitzia1.png") 100% 100% no-repeat;
  }
  .wrapper-testimonials {
    padding-bottom: 100px;
    background: url("../icon/leav_foto1.png") right 120% no-repeat;
  }
  .testimonials-screenshot {
    max-width: 940px;
    padding-top: 50px;
  }
  .testimonials-screenshot img {
    width: 293px;
  }
  .testimonials {
    max-width: 940px;
  }
  .testimonials div {
    padding: 0 10px;
  }
  .testimonials article {
    padding-top: 50px;
  }
  .testimonials h3 {
    padding-top: 20px;
  }
  .pets-wrapper {
    max-width: 1000px;
  }
  .swiper-container {
    max-width: 940px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .pets img {
    width: 294px;
  }
  .feed-wrapper {
    height: 876px;
  }
  .feed {
    width: 940px;
    height: 796px;
    top: 5%;
    left: 3%;
    word-wrap: normal;
  }
  .feed button {
    margin-top: 40px;
  }
  .feed h2 {
    padding-top: 40px;
  }
  .feed p {
    padding-left: 30px;
    padding-top: 20px;
  }
  .feed h3 {
    padding-top: 50px;
  }
  .line {
    width: 390px;
  }
  .line span {
    width: 75px;
  }
  footer {
    position: relative;
    max-width: 1000px;
    padding-bottom: 70px;
  }
  footer .menu {
    width: 300px;
  }
  .input {
    position: absolute;
    left: 60%;
  }
  .arrow-left {
    top: 37%;
    left: 34%;
  }
  .arrow-right {
    top: 37%;
    left: 59%;
  }
  .second-slider {
    margin-top: 60px;
  }
  .swiper-slide:hover {
    border: 0px;
    height: 300px;
  }
  .swiper-slide:hover img {
    display: inline-block;
    width: 300px;
    transition: all 1s;
    border-radius: 5px;
    border: 1px solid rgb(254, 144, 19);
    box-shadow: 5px 5px 5px rgba(114, 21, 21, 0.53);
  }
  .swiper-slide:hover h4,
.swiper-slide:hover p {
    background: rgba(119, 128, 123, 0.5294117647);
    color: #ae3907;
    transform: translateY(-60px);
    transition: all 1s;
  }
  .wrapper-testimonials .swiper-slide:hover img {
    border: none;
    width: 286px;
    border-radius: 25px;
    transition: all 0.2s;
    transform: translateY(-20px);
    box-shadow: 5px 5px 5px rgba(106, 23, 23, 0.448);
  }
}
@media (max-width: 640px) {
  .wrapper-menu {
    margin: 50px 0px 0 10px;
  }
  .wrapper-testimonials {
    background: url("../icon/leav_foto3.png") right 112% no-repeat;
  }
  .popup {
    padding-top: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .popup .slide {
    cursor: pointer;
    color: rgb(79, 79, 79);
    margin-top: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    padding: 15px 0;
    height: 109px;
    overflow: hidden;
    border-radius: 19px;
    border: 2px solid rgba(254, 189, 171, 0.74);
  }
  .popup .name {
    color: black;
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }
  .popup .location {
    margin-top: -15px;
    padding: 0px 0 10px 50px;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: rgb(189, 189, 189);
  }
  .popup img {
    width: 37px;
    height: 37px;
  }
  .popup .slide-active {
    margin-top: 30px;
    width: 267px;
    height: 380px;
    position: relative;
    left: 27%;
    line-height: 18px;
  }
  .wrapper-header {
    width: 640px;
    height: 373px;
    background: url("../img/Giant_Panda2.jpg") no-repeat;
  }
  .wrapper-header nav {
    align-items: flex-start;
    position: absolute;
    top: 34px;
    left: -100%;
    width: 100%;
    height: 400px;
    flex-direction: column;
    z-index: 2;
    background: white;
  }
  .wrapper-header nav a {
    color: rgb(51, 59, 65);
  }
  .wrapper-header .menu-active {
    left: 0;
  }
  .header-content {
    height: 238px;
    width: 238px;
    margin-left: 330px;
    margin-top: 20px;
  }
  .header-content h1 {
    font-size: 54px;
    line-height: 40px;
    padding: 45px 0 0 60px;
  }
  .header-content button {
    position: relative;
    left: -160%;
    top: -20%;
    z-index: 1;
  }
  .disable {
    background: rgba(0, 0, 0, 0.16);
  }
  .menu {
    align-items: flex-start;
    flex-direction: column;
  }
  .nav-icon {
    display: block;
  }
  .pets-wrapper {
    max-width: 640px;
    padding-bottom: 140px;
    position: relative;
    background: url("../img/palm_foto.jpg") 0 100% no-repeat, url("../img/strelitzia.png") 100% 100% no-repeat;
  }
  .swiper-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    overflow: hidden;
  }
  .menu-icon {
    display: block;
    position: relative;
    width: 18px;
    height: 10px;
    cursor: pointer;
  }
  .menu-icon span,
.menu-icon::before,
.menu-icon::after {
    left: 0;
    position: absolute;
    height: 20%;
    width: 100%;
    background: white;
    transition: all 0.3s ease 0s;
  }
  .menu-icon::after,
.menu-icon::before {
    content: "";
  }
  .menu-icon::after {
    bottom: 0;
  }
  .menu-icon::before {
    top: 0;
  }
  .menu-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .nav {
    background: black;
    display: flex;
    height: 34px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
  }
  .menu-icon-active span {
    transform: scale(0) translate(0px, -50px);
  }
  .menu-icon-active::before {
    top: 50%;
    transform: rotate(-40deg) translate(0px, -50%);
  }
  .menu-icon-active::after {
    bottom: 50%;
    transform: rotate(40deg) translate(0px, 50%);
  }
  .backstage {
    padding-left: 20px;
    max-width: 640px;
    background: url("../img/flower_foto2.png") right no-repeat;
  }
  .backstage .img {
    display: none;
  }
  .pets-wrapper {
    max-width: 640px;
    padding-bottom: 100px;
    position: relative;
    background: url("../icon/palm_foto2.png") -10% 100% no-repeat, url("../icon/strelitzia2.png") 100% 100% no-repeat;
  }
  .swiper-container {
    max-width: 610px;
    padding-top: 65px;
  }
  .pets img {
    width: 285px;
  }
  .second-slider {
    margin-top: 0px;
  }
  .arrow-left {
    top: 39.5%;
    left: 34%;
  }
  .arrow-right {
    top: 39.5%;
    left: 59%;
  }
  .swiper-slide {
    margin-left: 20px;
  }
  .subscribe {
    display: none;
  }
  footer {
    padding-bottom: 20px;
    display: block;
    position: relative;
  }
  footer .icon {
    width: 220px;
    left: 60%;
    top: 75%;
    padding-top: 0;
  }
  footer .menu {
    flex-direction: row;
    justify-content: space-between;
  }
  footer .social span {
    display: none;
  }
  footer .icon-social__wrapper {
    position: absolute;
    padding-top: 5px;
    top: 0;
    left: 90%;
  }
  .testimonials {
    padding-top: 20px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials .feedback {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials .third-slider {
    display: none;
  }
  .feed-wrapper {
    height: 780px;
  }
  .feed {
    height: 740px;
    width: 612px;
    overflow: hidden;
    left: 2%;
    top: 2%;
    white-space: normal;
  }
  .feed h2 {
    padding-top: 20px;
    font-size: 42px;
    line-height: 50px;
  }
  .feed .paragraph1,
.feed .paragraph2,
.feed .paragraph3 {
    padding-left: 10px;
    padding-top: 15px;
    line-height: 22px;
  }
  .feed .arrow2 {
    display: none;
  }
  .feed article {
    position: relative;
    justify-content: space-evenly;
  }
  .feed article::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 24%;
    width: 100px;
    height: 70px;
    background: url("../icon/green-arrow.png") no-repeat;
  }
  .feed article::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 56%;
    width: 100px;
    height: 70px;
    background: url("../icon/green-arrow.png") no-repeat;
  }
  .feed h3 {
    padding-top: 25px;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
  }
  .pay {
    padding-top: 30px;
  }
  .pay p {
    padding-left: 0;
  }
  .icon-logo {
    background-clip: content-box;
    background: linear-gradient(0deg, rgba(254, 144, 19, 0.7647058824), rgba(254, 144, 19, 0.7647058824)), linear-gradient(0deg, #ffffff, #ffffff);
    border: 0.95px solid rgb(254, 144, 19);
  }
  .icon {
    padding-left: 15px;
  }
}
@media (max-width: 320px) {
  .wrapper-header {
    max-width: 320px;
    height: 300px;
    overflow: hidden;
    background: url("../icon/Giant-Panda320.jpg") no-repeat;
  }
  .wrapper-header nav {
    height: 230px;
  }
  .pets-wrapper {
    max-width: 320px;
    padding-bottom: 60px;
    position: relative;
    background: url("../icon/palm_foto320.png") 0 100% no-repeat, url("../icon/strelitzia320.png") 100% 100% no-repeat;
  }
  .swiper-container,
.arrow,
.hidden {
    display: none;
  }
  .none {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
  }
  footer {
    padding-top: 20px;
  }
  footer .icon-social__wrapper {
    top: 15%;
    left: 15%;
    display: flex;
  }
  footer .icon-social {
    margin: 10px 15px;
  }
  .social button {
    margin: 80px 0 0px -20px;
  }
  .small-screen {
    display: block;
  }
  .small-screen img {
    width: 285px;
  }
  .small-screen h4 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    padding: 5px 0px 0 10px;
  }
  .small-screen p {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 14px;
    font-weight: 300;
  }
  .small-screen div {
    width: 287px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid rgb(254, 144, 19);
    border-radius: 5px;
  }
  .small-screen .meat {
    background: url("../icon/meet-fish_icon.png") 98% 98% no-repeat;
  }
  .small-screen .banana {
    background: url("../icon/banana-bamboo_icon.png") 98% 98% no-repeat;
  }
  .choose {
    margin-top: 30px;
  }
  .header-content {
    height: 120px;
    width: 120px;
    margin-left: 160px;
    margin-top: 10px;
  }
  .header-content h1 {
    font-size: 28px;
    line-height: 21px;
    padding: 20px 0 0 30px;
  }
  .header-content button {
    margin-left: 40px;
    margin-top: 60px;
  }
  .backstage {
    max-width: 320px;
    background: url("../icon/flower_foto1320.png") right -5% no-repeat;
    padding-top: 0px;
  }
  .backstage h2,
.backstage h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .backstage h3 {
    padding-top: 30px;
  }
  .backstage p {
    padding-top: 20px;
  }
  .feed-wrapper {
    max-width: 320px;
    height: 1082px;
  }
  .feed {
    left: 3%;
    max-width: 300px;
    height: 1042px;
  }
  .feed h2,
.feed h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .feed h3 {
    padding-top: 5px;
  }
  .feed p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
  .feed .paragraph2,
.feed .paragraph3 {
    display: none;
  }
  .feed article {
    width: 168px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .feed article::before {
    content: "";
    position: absolute;
    top: 27%;
    left: 68%;
    width: 100px;
    height: 70px;
    transform: rotate(85deg);
    background: url("../icon/green-arrow.png") no-repeat;
  }
  .feed article::after {
    content: "";
    position: absolute;
    top: 60%;
    left: 68%;
    width: 100px;
    height: 70px;
    transform: rotate(85deg);
    background: url("../icon/green-arrow.png") no-repeat;
  }
  .pay {
    padding-top: 20px;
  }
  .testimonials {
    max-width: 320px;
  }
  .popup {
    width: 299px;
  }
  .popup .slide-active {
    margin-top: 10px;
    left: 0;
  }
  .wrapper-testimonials {
    padding-bottom: 60px;
    background: url("../icon/leaf320.png") right 105% no-repeat;
  }
  .wrapper-menu {
    margin-top: 150px;
    position: relative;
  }
  .wrapper-menu .icon {
    text-align: right;
    top: -500%;
    left: 10%;
    position: absolute;
  }
}/*# sourceMappingURL=adaptive.css.map */