@import "zerostyle.scss";
@import url("https://cdn.jsdelivr.net/npm/swiper@8/swiper/scss");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.wrapper-header {
   max-width: 1600px;
   height: 780px;
   overflow: hidden;
   font-family: "Roboto", sans-serif;
   background: url("online-zoo/icon/Giant-Panda.jpg") no-repeat;
}

.navigation {
   display: flex;
   background: black;
   justify-content: space-around;
   align-items: center;
   a {
      color: white;
      text-decoration: none;
   }

   font-size: 16px;
   font-weight: 500;
   line-height: 22px;
}

.menu {
   display: flex;
   justify-content: space-around;
   flex-basis: 40%;
   align-items: center;
   padding: 15px;
}
.header-content {
   background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
   font-size: 106.5px;
   color: white;
   border-radius: 50%;
   height: 465px;
   width: 465px;
   line-height: 80px;
   margin-left: 800px;
   margin-top: 20px;
   text-align: center;
   span {
      color: rgba(255, 238, 46, 1);
   }
   h1 {
      font-weight: 700;
      padding: 75px 0 0 130px;
   }
   button {
      color: white;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      border-radius: 25px;
      width: 300px;
      height: 55px;
      font-size: 16px;
      font-weight: 500;
      margin-left: 200px;
   }
}
a.active {
   color: rgba(249, 128, 75);
}
main {
   font-family: "Roboto", sans-serif;
}
.backstage {
   color: rgba(51, 59, 65, 1);
   padding-top: 160px;
   display: flex;
   font-size: 16px;
   justify-content: space-evenly;
   h2 {
      font-size: 48px;
      line-height: 58px;
      text-align: left;
   }
   h3 {
      font-size: 24px;
      padding-top: 45px;
      line-height: 30px;
   }
   .text {
      margin-right: 100px;
      max-width: 480px;
   }
   p {
      padding-top: 30px;
      line-height: 22px;
   }
   .img {
      margin-left: 100px;
   }
   background: url("online-zoo/img/flower_foto1.jpg") right no-repeat;
   padding-bottom: 100px;
}
.small-screen {
   display: none;
}
.pets-wrapper {
   max-width: 1600px;
   padding-bottom: 140px;
   position: relative;
   background: url("online-zoo/img/palm_foto.jpg") 0 100% no-repeat,
      url("online-zoo/img/strelitzia.png") 100% 100% no-repeat;
}
.swiper-container {
   max-width: 1150px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 100px;
   overflow: hidden;
}
.second-slider {
   padding-top: 0px;
}
.pets {
   display: flex;
   min-width: 0;
   justify-content: space-between;
   h4 {
      font-size: 16px;
      line-height: 23px;
      font-weight: 500;
      padding: 5px 0px 0 10px;
   }
   div {
      margin-top: 20px;
      border: 1px solid rgb(254, 144, 19);
      border-radius: 5px;
   }

   p {
      padding: 5px 10px;
      font-size: 15px;
      line-height: 18px;
      font-weight: 300;
   }
   .hidden {
      display: none;
   }
   img {
      width: 366px;
   }
   .meat {
      background: url("online-zoo/icon/meet-fish_icon.png") 98% 98% no-repeat;
   }
   .banana {
      background: url("online-zoo/icon/banana-bamboo_icon.png") 98% 98% no-repeat;
   }
}
.swiper-slide {
   margin-left: 15px;
}
.choose {
   display: block;
   background: rgba(254, 144, 19, 1);
   font-size: 16px;
   line-height: 23px;
   text-align: center;
   font-weight: 500;
   color: white;
   padding: 15px 55px;
   border-radius: 25px;
   width: 300px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
}
.arrow {
   background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
   height: 62px;
   width: 62px;
   border-radius: 50%;
   transition: 0.6s ease;
   img {
      width: 16px;
      padding-top: 3px;
   }
}
.arrow-left {
   position: absolute;
   top: 41%;
   left: 8%;
}
.arrow-right {
   position: absolute;
   top: 41%;
   left: 89%;
}
.feed-wrapper {
   height: 1008px;
   background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
   );
   position: relative;
}
.wrapper-testimonials {
   width: 100%;
   padding-bottom: 200px;
   background: url("online-zoo/img/leav_foto.jpg") right 120% no-repeat;
}
.none {
   display: none;
}
.feed {
   height: 835px;
   position: absolute;
   top: 9%;
   left: 15%;
   width: 1160px;
   margin-left: auto;
   margin-right: auto;
   background: rgba(253, 253, 255, 0.52);
   border-radius: 20px;
   font-family: "Roboto", sans-serif;
   article {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   h2 {
      padding-top: 50px;
      font-size: 48px;
      line-height: 57px;
      color: rgba(254, 144, 19, 1);
      text-align: center;
      font-weight: 400;
   }
   p {
      padding-left: 80px;
      padding-top: 30px;
   }
   h3 {
      padding-top: 60px;
      text-align: center;
      font-size: 36px;
      line-height: 47px;
      font-weight: 400;
      color: rgba(51, 59, 65, 1);
   }
   button {
      display: block;
      font-family: "Roboto", sans-serif;
      border-radius: 20px;
      width: 300px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      font-weight: 500;
      color: white;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      border-radius: 25px;
      margin-top: 50px;
   }
}
.pay {
   align-self: start;
   padding-top: 50px;
   p {
      padding-left: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      font-family: "Roboto", sans-serif;
      color: rgba(51, 59, 65, 1);
   }
   .img {
      display: block;
      margin-top: auto;
      margin-bottom: auto;
      width: 168px;
      height: 168px;
      padding: 20px;
      background: white;
      border-radius: 5px;
      border: 1px solid #fe9013;
   }
}
.paragraph1 {
   font-size: 24px;
   line-height: 29px;
   color: rgba(51, 59, 65, 1);
   font-weight: 400;
   padding-bottom: 20px;
}
.paragraph2 {
   font-size: 16px;
   line-height: 21px;
   font-weight: 500;
   color: rgba(51, 59, 65, 1);
}
.paragraph3 {
   font-size: 16px;
   font-weight: 400;
   color: rgba(51, 59, 65, 1);
   a {
      text-decoration: none;
      border-bottom: 1px solid rgba(254, 144, 19, 1);
      color: rgba(51, 59, 65, 1);
      font-weight: 400;
   }
}
.arrow2 {
   padding: 0 25px;
}
.hand {
   padding-top: 30%;
   padding-left: 10px;
}
.dollar {
   padding-left: 15px;
   padding-top: 20%;
}
.monkey {
   padding-top: 25%;
}
.testimonials {
   max-width: 1160px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 100px;
   font-family: "Roboto", sans-serif;
   article {
      display: flex;
      align-items: center;
      padding: 0 15px;
      justify-content: space-between;
   }
   .feedback {
      margin-left: 30px;
      border-radius: 5px;
      color: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
   }
   h3 {
      padding-top: 60px;
      text-align: center;
      font-size: 36px;
      line-height: 47px;
      font-weight: 400;
      color: rgba(51, 59, 65, 1);
   }
   button {
      display: block;
      border-radius: 20px;
      width: 300px;
      font-family: "Roboto", sans-serif;
      height: 50px;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      font-weight: 500;
      color: white;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      border-radius: 25px;
      margin-top: 50px;
   }
}
.testimonial-screenshot {
   max-width: 1160px;
   div {
      border-radius: 20px;
   }
}
.popup {
   display: none;
}
.line {
   margin-left: auto;
   margin-right: auto;
   width: 600px;
   height: 8px;
   margin-top: 20px;
   background: #f5f7f6;
   border: 0.5px solid rgba(254, 189, 171, 0.7);
   border-radius: 5px;
}
.swiper-scrollbar-drag {
   cursor: pointer;
   display: inline-block;
   width: 116px;
   height: 6px;
   background: #fe9013;
   border-radius: 5px;
   margin-bottom: 5px;
}
.wrapper-menu {
   margin-top: 190px;
   align-self: flex-end;
}
footer {
   background: rgba(17, 17, 21, 1);
   flex: 0 0 auto;
   padding-top: 40px;
   padding-bottom: 50px;
   color: white;
   font-family: "Roboto", sans-serif;
   a {
      color: white;
   }
   display: flex;
   justify-content: center;
   position: relative;
   .menu {
      width: 600px;
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      padding: 0 15px 10px 15px;
      letter-spacing: 0.5px;
   }
   h4 {
      padding-bottom: 10px;
      font-size: 24px;
      line-height: 29px;
      font-weight: 400;
   }
   .icon {
      position: absolute;
      top: 77%;
      left: 70%;
      font-size: 16px;
      line-height: 21px;
      font-weight: 100;
      text-align: center;
      letter-spacing: 0.5px;
   }
}
.menu-icon,
.nav-icon {
   display: none;
}

.wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
}
main {
   flex: 1 1 auto;
}

.social {
   button {
      display: block;
      border-radius: 5px;
      margin: 40px 0 20px 0;
      width: 300px;
      height: 50px;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      font-weight: 500;
      color: white;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
   }
   li {
      padding-top: 10px;
   }
   span {
      padding-left: 10px;
      line-height: 20px;
      vertical-align: bottom;
   }
}
.icon-social {
   display: inline-block;
   background: rgba(196, 196, 196, 0.5);
   width: 26px;
   height: 26px;
   border-radius: 50%;
   img {
      display: inline-block;
      padding-top: 5px;
      padding-left: 5px;
   }
}

.email {
   display: inline-block;
   background: rgba(17, 17, 21);
   border-radius: 2px;
   width: 228px;
   height: 42px;
   font-size: 16px;
   font-weight: 400;
   padding: 0 10px;
   color: white;
   border: 0.7px solid rgba(249, 128, 75);
}
.submit {
   font-family: "Roboto", sans-serif;
   cursor: pointer;
   color: rgb(0, 0, 0);
   background: rgba(241, 243, 242);
   width: 129px;
   height: 42px;
   border-radius: 5px;
   font-size: 16px;
   line-height: 23px;
   font-weight: 400;
   border: 1px solid rgba(51, 59, 65, 1);
}
.wrapper-social {
   flex-basis: 33.3%;
   padding-left: 10%;
}
.subscribe {
   flex-basis: 33.3%;
}
.facebook {
   img {
      padding-left: 9px;
   }
}
.youtube {
   img {
      padding: 6px 20px 0 4px;
   }
}
.swiper-slide:hover {
   img {
      display: inline-block;
      width: 386px;
      transition: all 1s;
      border-radius: 5px;
      border: 1px solid rgb(254, 144, 19);
      box-shadow: 10px 10px 10px rgba(114, 21, 21, 0.53);
   }
   h4,
   p {
      background: #77807b87;
      color: #ae3907;
      transform: translateY(-60px);
      transition: all 1s;
   }
   border: 0px;
   height: 366px;
}
.arrow:hover {
   width: 65px;
   height: 65px;
   transition: all 1s;
   box-shadow: 5px 5px 10px rgba(191, 93, 13, 0.604);
}
.wrapper-testimonials {
   .swiper-slide:hover {
      img {
         border: none;
         width: 286px;
         border-radius: 25px;
         transition: all 0.4s;
         transform: translateY(-40px);
         box-shadow: 10px 10px 10px rgba(106, 23, 23, 0.448);
      }
   }
}
