@import "zerostyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.wrapper-header {
   min-width: 1600px;
   font-family: "Roboto", sans-serif;
}
.header-content {
   background: url("../online-zoo/icon/panda_bg.jpg") no-repeat;
   height: 390px;
}

.navigation {
   display: flex;
   background: black;
   justify-content: space-around;
   align-items: center;
   a {
      color: white;
      text-decoration: none;
   }
   font-size: 16px;
   font-weight: 500;
   line-height: 22px;
}
.menu {
   display: flex;
   justify-content: space-around;
   flex-basis: 40%;
   align-items: center;
   padding: 15px;
}
footer {
   background: rgba(17, 17, 21, 1);
   min-width: 1600px;
   padding-top: 40px;
   padding-bottom: 50px;
   color: white;
   font-family: "Roboto", sans-serif;
   a {
      color: white;
   }
   display: flex;
   justify-content: center;
   position: relative;
   .menu {
      width: 600px;
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      padding: 0 15px 10px 15px;
      letter-spacing: 0.5px;
   }
   h4 {
      padding-bottom: 10px;
      font-size: 24px;
      line-height: 29px;
      font-weight: 400;
   }
   .icon {
      position: absolute;
      top: 77%;
      left: 70%;
      font-size: 16px;
      line-height: 21px;
      font-weight: 100;
      text-align: center;
      letter-spacing: 0.5px;
   }
}
.menu-icon,
.nav-icon {
   display: none;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
main {
   flex: 1 1 auto;
}
.social {
   button {
      display: block;
      border-radius: 5px;
      margin: 40px 0 20px 0;
      width: 300px;
      height: 50px;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      font-weight: 500;
      color: white;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
   }
   li {
      padding-top: 10px;
   }
   span {
      padding-left: 10px;
      line-height: 20px;
      vertical-align: bottom;
   }
}
.icon-social {
   display: inline-block;
   background: rgba(196, 196, 196, 0.5);
   width: 26px;
   height: 26px;
   border-radius: 50%;
   img {
      display: inline-block;
      padding-top: 5px;
      padding-left: 5px;
   }
}
.wrapper-menu {
   flex-basis: 33.3%;
   align-self: flex-end;
}
.email {
   display: inline-block;
   background: rgba(17, 17, 21);
   border-radius: 2px;
   width: 228px;
   height: 42px;
   font-size: 16px;
   font-weight: 400;
   padding: 0 10px;
   color: white;
   border: 0.7px solid rgba(249, 128, 75);
}
.submit {
   cursor: pointer;
   color: rgb(0, 0, 0);
   background: rgba(241, 243, 242);
   width: 129px;
   height: 42px;
   border-radius: 5px;
   font-size: 16px;
   line-height: 23px;
   font-weight: 400;
   border: 1px solid rgba(51, 59, 65, 1);
}
.wrapper-social {
   flex-basis: 33.3%;
   padding-left: 10%;
}
.subscribe {
   flex-basis: 33.3%;
}
.facebook {
   img {
      padding-left: 9px;
   }
}
.youtube {
   img {
      padding: 6px 20px 0 4px;
   }
}
.feed-wrapper {
   height: 1482px;
   background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
   );
   position: relative;
}
.feed {
   height: 964px;
   position: absolute;
   top: 25%;
   left: 15%;
   min-width: 1160px;
   margin-left: auto;
   margin-right: auto;
   background: rgba(253, 253, 255, 0.52);
   border-radius: 20px;
   article {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   h2 {
      padding-top: 50px;
      font-size: 48px;
      line-height: 57px;
      color: rgba(254, 144, 19, 1);
      text-align: center;
      font-weight: 400;
   }
   p {
      padding-left: 80px;
      padding-top: 30px;
   }
   h3 {
      padding-top: 60px;
      text-align: center;
      font-size: 36px;
      line-height: 47px;
      font-weight: 400;
      color: rgba(51, 59, 65, 1);
   }
   button {
      display: block;
      border-radius: 20px;
      width: 300px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      font-weight: 500;
      color: white;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      border-radius: 25px;
      margin-top: 50px;
   }
   .paragraph2 {
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;
      color: rgba(51, 59, 65, 1);
      padding-left: 0;
      text-align: center;
   }
   .feed-button {
      margin-top: 40px;
   }
}
.paragraph1 {
   font-size: 24px;
   line-height: 29px;
   color: rgba(51, 59, 65, 1);
   font-weight: 400;
   padding-bottom: 20px;
}
main {
   min-width: 1600px;
   font-family: "Roboto", sans-serif;
}
.help {
   padding-left: 240px;
   color: white;
   h1 {
      padding-top: 50px;
      font-size: 36px;
      line-height: 47px;
      font-weight: 400;
   }
   p {
      padding-top: 50px;
      width: 1160px;
      font-size: 16px;
      line-height: 23px;
      font-weight: 500;
   }
   h3 {
      padding-top: 35px;
      font-size: 36px;
      line-height: 47px;
      font-weight: 400;
      color: rgba(254, 144, 19);
   }
}
.panda {
   width: 55%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 80px;
   background: url("../online-zoo/icon/x_icon.png") 42% 40% no-repeat;
   p {
      padding-top: 20px;
      font-size: 16px;
      line-height: 23px;
      font-weight: 400;
      text-align: center;
      color: rgba(51, 59, 65, 1);
   }
   .four {
      font-size: 72px;
      line-height: 45px;
      text-align: center;
      font-weight: 500;
      color: black;
   }
   .panda-text {
      padding-top: 30px;
   }
}
.none {
   display: none;
}
.outer {
   display: none;
   position: absolute;
   top: -135%;
   left: -150%;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 2px solid rgba(254, 144, 19, 1);
   background-clip: content-box;
}
.inner {
   display: none;
   position: absolute;
   top: -60%;
   left: -60%;
   width: 23px;
   height: 23px;
   border-radius: 50%;
   border: 2px solid rgba(254, 144, 19, 1);
   background-clip: content-box;
}
.scale {
   display: flex;
   background: rgba(64, 73, 80, 1);
   width: 976px;
   height: 27px;
   justify-content: space-between;
   margin-left: auto;
   margin-right: auto;
   border-radius: 2px;
   span {
      display: inline-block;
      width: 57px;
      padding-top: 20px;
      font-size: 26px;
      line-height: 37px;
      font-weight: 500;
      color: rgba(51, 59, 65, 1);
   }
   button {
      position: relative;
      width: 10px;
      height: 10px;
      margin-top: 7px;
      border-radius: 50%;
      background: rgba(255, 238, 46, 1);
   }
   button::before {
      content: "";
      border-bottom: 2px solid rgba(114, 130, 142, 1);
      position: absolute;
      top: 50%;
      left: 10px;
      width: 125px;
   }
   .last-button::before {
      content: "";
      width: 0px;
   }
   button:active,
   button:focus {
      .inner,
      .outer {
         display: block;
      }
   }
}

.radio-button {
   display: inline-block;
   padding: 0 25px;
}
.radio {
   padding-top: 35px;
   width: 268px;
   margin-left: auto;
   margin-right: auto;
}
a.active {
   color: rgba(249, 128, 75);
}
.input {
   margin-top: 110px;
   display: block;
   background: transparent url("../online-zoo/icon/dollar.png") 98% 50% no-repeat;
   color: rgba(146, 150, 153, 1);
   border: 1px solid rgba(146, 150, 153, 1);
   width: 268px;
   height: 54px;
   font-size: 16px;
   line-height: 23px;
   font-weight: 400;
   padding-left: 9px;
   margin-left: auto;
   margin-right: auto;
}
label {
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
   color: rgba(51, 59, 65, 1);
   position: relative;
   cursor: pointer;
   padding-left: 25px;
}
label:before {
   content: "";
   display: inline-block;
   height: 16px;
   width: 16px;
   border-radius: 50%;
   position: absolute;
   left: 0;
   transition: 0.3s;
   border: 1px solid rgba(254, 144, 19, 1);
   background: transparent;
}
input[type="radio"] {
   display: none;
}

input[type="radio"]:checked + label:before {
   background: rgba(75, 146, 0, 1);
   border: 1px solid rgba(75, 146, 0, 1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   appearance: none;
   margin: 0;
}
input[type="number"] {
   appearance: textfield;
}
.feed {
   .text-amount {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      padding: 0 0 20px 90px;
   }
}
